<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Dental Software</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"> 
            <img src="/img/logo.png" alt="Dentist App Logo" height="70">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link btn-fancy" href="/feedback">Feedback</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-fancy" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-fancy" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="login" class="py-5 section-bg">
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center min-vh-100">
                <div class="col-lg-6">
                    <div class="card border-0 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title text-center mb-4">Login to Dentist Application</h2>
                            <% if (messages.error && messages.error.length > 0) { %>
                            <div class="center-flash alert alert-danger" role="alert">
                                <%= messages.error[0] %>
                            </div>
                            <% } %>
                            <form action="/login" method="POST">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" id="email" name="email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <div class="input-group">
                                        <input type="password" id="password" name="password" class="form-control" required>
                                        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                        <i class="fa fa-eye"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                                    <a href="/reset-password" class="btn btn-link">Reset Password</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-dark text-white text-center py-4">
        <div class="container">
            <p>&copy; 2024 Dentist Application. All rights reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#privacy" class="text-white">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                    <a href="#terms" class="text-white">Terms of Service</a>
                </li>
                <li class="list-inline-item">
                    <a href="#contact" class="text-white">Contact Us</a>
                </li>
            </ul>
        </div>
    </footer>
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            $('#togglePassword').click(function() {
                const passwordField = $('#password');
                const passwordFieldType = passwordField.attr('type');
        
                if (passwordFieldType === 'password') {
                    passwordField.attr('type', 'text');
                    $('#togglePassword i').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
                } else {
                    passwordField.attr('type', 'password');
                    $('#togglePassword i').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
                }
            });
        });
    </script>
</body>
</html>