<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password - Dental Software</title>
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"> 
                <img src="/img/logo.png" alt="Dentist App Logo" height="70">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn-fancy" href="/feedback">Feedback</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-fancy" href="/help">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-fancy" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="reset-password" class="py-5 section-bg">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center min-vh-100">
                    <div class="col-lg-6">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <h2 class="card-title text-center mb-4">Reset Password</h2>
								<p class="mt-3 text-center">An email with instructions to reset your password will be sent to the provided email address.</p>
                                <% if (error.length > 0) { %>
                                <div class="flash-message error mx-auto col-md-6"><%= error %></div>
                                <% } %>
                                <% if (success.length > 0) { %>
                                <div class="flash-message success mx-auto col-md-6"><%= success %></div>
                                <% } %>
                                <form action="/reset-password" method="POST">
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" id="email" name="email" class="form-control" required>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="bg-dark text-white text-center py-4">
        </footer>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/script.js"></script>
        <script>
            window.onload = function() {
                if (document.querySelector('.flash-message.success')) {
                    setTimeout(function() {
                        window.location.href = '/login';
                    }, 5000);
                }
            }
        </script>
    </body>
</html>