<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Reset Password - Dental Software</title>
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <style>
            .hidden { display: none; }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"> 
                <img src="/img/logo.png" alt="Dentist App Logo" height="70">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link btn-fancy" href="/feedback">Feedback</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-fancy" href="/help">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-fancy" href="/login">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <section id="reset-password" class="py-5 section-bg">
            <div class="container-fluid">
                <div class="row justify-content-center align-items-center min-vh-100">
                    <div class="col-lg-6">
                        <div class="card border-0 shadow-sm">
                            <div class="card-body">
                                <h2 class="card-title text-center mb-4">Reset Your Password</h2>
                                <% if (typeof success !== 'undefined' && success.length > 0) { %>
                                    <div class="center-flash alert alert-success" role="alert">
                                        <%= success[0] %>
                                    </div>
                                <% } %>
                                <% if (typeof error !== 'undefined' && error.length > 0) { %>
                                    <div class="center-flash alert alert-danger" role="alert">
                                        <%= error[0] %>
                                    </div>
                                <% } %>
                                <div class="<%= (typeof success !== 'undefined' && success.length > 0) ? 'hidden' : '' %>">
                                    <form id="resetForm" action="/reset/<%= token %>" method="POST">
                                        <div class="mb-3">
                                            <label for="password" class="form-label">New Password</label>
                                            <div class="input-group">
                                                <input type="password" id="password" name="password" class="form-control" required>
                                                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                                <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="confirmPassword" class="form-label">Confirm New Password</label>
                                            <div class="input-group">
                                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required>
                                                <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                                <i class="fa fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
                                        </div>
                                        <div id="error-message" class="text-danger text-center mt-2" style="display: none;">
                                            Passwords do not match.
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="bg-dark text-white text-center py-4">
        </footer>
		<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
		<script>
			$(document).ready(function() {
				$('#togglePassword').click(function() {
					const passwordField = $('#password');
					const passwordFieldType = passwordField.attr('type');
					if (passwordFieldType === 'password') {
						passwordField.attr('type', 'text');
						$('#togglePassword i').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
					} else {
						passwordField.attr('type', 'password');
						$('#togglePassword i').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
					}
				});

				$('#toggleConfirmPassword').click(function() {
					const confirmPasswordField = $('#confirmPassword');
					const confirmPasswordFieldType = confirmPasswordField.attr('type');
					if (confirmPasswordFieldType === 'password') {
						confirmPasswordField.attr('type', 'text');
						$('#toggleConfirmPassword i').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
					} else {
						confirmPasswordField.attr('type', 'password');
						$('#toggleConfirmPassword i').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
					}
				});

				$('#resetForm').submit(function(event) {
					const password = $('#password').val();
					const confirmPassword = $('#confirmPassword').val();
					const passwordRegex = /^(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.*[0-9])(?=.*[a-z]).{8,}$/;

					if (!passwordRegex.test(password)) {
						event.preventDefault();
						$('#error-message').text('Password must be at least 8 characters long, include an uppercase letter, a special character, and a number.').show();
					} else if (password !== confirmPassword) {
						event.preventDefault();
						$('#error-message').text('Passwords do not match.').show();
					} else {
						$('#error-message').hide();
					}
				});

				<% if (typeof success !== 'undefined' && success.length > 0) { %>
					setTimeout(function() {
						window.location.href = '/login';
					}, 10000);
				<% } %>
			});
		</script>
    </body>
</html>